* {
 box-sizing: border-box;

}

html {
 font-family: sans-serif;
}

body {
    margin: 0; 
}

#container {
    width: 210mm;
    margin: auto;
    background: white;
    background-image: radial-gradient(circle, beige 5%, gray 80%);
}

article {
 width: 210mm;
 height: 110mm;
 margin: 20px auto;
 position: relative;
 border-top: 1mm solid black;
 border-bottom: 1mm solid black;
}

address {
 position: absolute;
 bottom: 8mm;
 right: 20mm;
}

h1 {
 position: absolute;
 top: 12mm;
 left: 20mm;
 width: 128px;
 height: 128px;
 font-size: 20px;
 letter-spacing: 1px;
 text-align: center;
 padding: 44px 0;
 color: white;
 text-shadow: 1px 1px 1px black;
 background-image: url("../img/logo.png");
 filter: drop-shadow(30px 10px 11px beige);
}

.fixed-top {
 background-image: url("../img/top-image.png");
 background-attachment:scroll;
 min-height: 150px;
 background-position: center;
 background-repeat: no-repeat;
 position: sticky;
 top: 0;
}

.fixed-bot {
 background-image: url("../img/bottom-image.png");
 background-attachment:scroll;
 min-height: 150px;
 background-position: center;
 background-repeat: no-repeat;
 position: sticky;
 bottom: 0;
}
